@import url('./../cssReset.css');


:root {
    --white: #fff;
    --white-50: #f0f0f0;
    --blue: #44a7fd;
}

.main{
    flex: 4;
    padding: 20px;
    padding-right: 315px;

}


@font-face {
    font-family: Lalezar;
    src: url('');
}

*, body, html {
    font-family: Lalezar;
}
button{
    border: none;
    cursor: pointer;
}

/* .back_red{
    background-color: rgba(255, 0, 0, 0.692);
}

.back_green{
    background-color: green;
}
.back_yellow{
    background-color: yellow;
} */