
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.admin_profile{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.admin_profile img{
    width: 100px;
    clip-path: circle();
}
.admin_profile div{
    display: flex;
    row-gap: 5px;
    flex-direction: column;

}
.admin_profile h1{
    font-size: 1.2rem;

}
.admin_profile h3{
    color: #858585;
}

.header_left_section{
    display: flex;
    column-gap: 20px;


}

.search_box{
    background: var(--white);
    border-radius: 15px;
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 5px;
    box-shadow: rgba(148, 157, 165, 0.2);
}
.search_box input{
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
    background-color: unset;
    font-size: 1.1rem;
    width: 100%;
    padding: 10px 20px 10px 10px;
}
.search_box button{
    display: flex;
    text-wrap: nowrap;
    font-size: 1.1rem;
    width: 135px;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: var(--blue);
    color: var(--white);
}

.header_left_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--blue);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.1rem;
    color: var(--white);
    padding-top: 13px;
    box-shadow: rgba(148, 157, 165, 0.2);


}
