@import url("./custom.css");
@import url("../aside.css");
@import url("../cssReset.css");
@import url("./header.css");
@import url("./cms.css");
body {
  background-color: var(--white-50);
  overflow: hidden;
}

.products_main {
  margin-top: 60px;
}



/* start table */

.product_table {
  margin-top: 20px;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
}

.product_table_heading_tr {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 70px 0 468px;
  margin-top: 20px;
}

.product_table_tr {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 10px 0 30px;
}

.product_table_img {
  width: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.product_table th {
  padding: 20px;
}

.product_table td {
  padding: 20px;
  display: flex;
  align-items: center;
}

.products_table_button {
  padding: 8px 20px;
  margin-right: 20px;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--blue);
}
